*{
    margin: 0;
    padding: 0;
    
}
html{
    height: 100%;
}
body{
    background:radial-gradient(#fff,#e3b375) no-repeat;
   
    
}
.container{
    padding:  0 19px;
    
}
.image_header{
    display: flex;
}
 .image_header img{
    
    width:1000px; 
    height:200px;
 }
.navbar-brand img{
    width: 115px;
    height:145px;
    margin-top: -90px;
}
.fondo-header{
    background: radial-gradient(#fff,#e3b375);
    position: absolute;
    width:;
    height:;
    
}
